body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    margin-bottom: 10px;
}

.table {
    border: 1px solid #dddddd;
    table-layout: fixed;
}

th, td {
    vertical-align: middle !important;
    overflow: hidden;
    border-bottom: none !important;
}

.score {
    font: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
    padding: 4px;
}
.scoreRunning {
    background-color: #ce0e0e;
}
.scoreFinished {
    background-color: #373737;
}
.scoreNotStarted {
    background-color: #ffffff;
}
.scoreSeparator {
    color: #000000;
    font-size: 120%;
    font-weight: bold;
}
.scoreSeparatorToggle {
    visibility: hidden;
}

.navbar-brand:hover {
    background-color: #dddddd !important;
}