body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    margin-bottom: 10px;
}

.table {
    border: 1px solid #dddddd;
    table-layout: fixed;
}

th, td {
    vertical-align: middle !important;
    overflow: hidden;
    border-bottom: none !important;
}

.livescoreIndicator {
    visibility: hidden;
}
.livescoreResultTdInactive {
    text-align: center;
    padding: 0px;
}
.livescoreResultTdActive {
    background-color: #FA6900;
    text-align: center;
    padding: 0px;
}
.livescoreResultText {
    color: #E0E4CC;
    font-weight: bold;
}